<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Google Test Suite">
    <test name="googleSearchTest">
        <classes>
            <class name="com.selenium.testcases.GoogleHomeTests">
                <methods>
                    <include name="googleSearchTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
